<% layout('/layouts/boilerplate') -%>
 <div class="row">
    <div class="col">
        <h3>Details of listing</h3>
        
    </div>
 </div>

<div class="row">
    <div class="col-8 offset-2">

        <div class="card" style="width: 20rem;">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing image">
            <div class="card-body">
              <p class="card-text">
                <b><%= listing.title %></b> <br>
                <i><%= listing.description %></i> <br>
                ₹<%= listing.price.toLocaleString('en-IN'); %> <br>
                <i class="fa-solid fa-location-dot"></i> <%= listing.location %> <br>
                <i class="fa-solid fa-globe"></i> <%= listing.country %>
              </p>
            </div>
          </div>
    </div>
</div>



    <!-- <a href="/lux/<%= listing._id %>/edit"><button class=" btn dark-btn btn-dark">Edit</button></a>  -->
    <a href="/lux/<%= listing._id %>/delete"><button class="btn btn-danger">Delete</button></a> 





